@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Zen+Maru+Gothic&display=swap");

body {
  font-family: "Kiwi Maru", serif;
  font-family: "Zen Maru Gothic", serif;
}

.customButton {
  padding: 10px;
  background-color: white;
  border: 1px solid #d9d9d9; /* 枠の色を設定 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* シャドウを強調 */
  border-radius: 10px; /* 任意の幅に変更可能 */
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.icon {
  width: auto;
  height: 80px;
  margin-right: 20px;
}

.card {
  padding: 30px;
}

.textWrapper {
  margin-top: 20px;
  font-size: 20pt;
  font-family: "Kiwi Maru", serif;
  font-family: "Zen Maru Gothic", serif;
}
