@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Zen+Maru+Gothic&display=swap");

body {
  font-family: "Kiwi Maru", serif;
  font-family: "Zen Maru Gothic", serif;
  margin: 0;
}
